
.allinone
{
  margin:2px;
}

.thre
{
   position: fixed;
   min-height=5%;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white  ;
   color: white;
   text-align: center;
   font-size:20px;
   font-weight:bold;
}

.btn{
  display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: black;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav.bg-light{
  background-color: rgba(0,0,0,0.2)!important;
  padding: 3px;
}
