html,body{
	height: 100%;
	scroll-behavior: smooth;
	background: #f6f6f6;

}
.cover{
	background: url('sample/ban1.png') center no-repeat;

	background-size: cover;
	height: 100%;
	display: table;
	width: 100%;
	background-attachment: fixed;
	transition: background 1s linear;

}
.quote{
	display: table-cell;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-family: Century Gothic;
}
.navbar{
	/*padding: 30px;*/
	//box-sizing: border-box;
}
 .tagline{
 	display: block;
 	/*margin-left: 30px;*/
 	color: white;
 	font-weight: lighter;
 	margin-top: -10px;
 	font-size: 13px;
 }
.quote h1{
	font-size: 80px;
	letter-spacing: -3px;
}
.quote h3{
	font-size: 40px;
}
#team{
	background: url('teamx.jpeg') top	 no-repeat;
	background-size: cover;
	background-attachment: fixed;

	padding-top: 50px;
/*	background: #f6f6f6;
*/	text-align: center;
	color: white; 
}

#team p{
	text-align: center;
	color: white;
	padding-top: 15px;
}
.col-lg-4{
	margin-bottom: 30px;
	/*border: solid black;*/
	border-right: solid 2px transparent;
	border-image: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(255,255,255,0.5) 30%,rgba(255,255,255,0.5) 45%,rgba(0,0,0,0) 75%);
	border-image-slice: 1;

}
.col-lg-4:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 15%;
    width: 70%;
    border-bottom: 1px solid rgba(255,255,255,0.7);
}
.no-bl{
	border-right: none;
}
.no-bb:after{
	border-bottom: none;
}
.navbar-form input{
	margin: 0;
}
.navbar-default{
	background-color: rgba(0,0,0,0.2);
	border: none;
}
.navbar-default .navbar-nav>li>a:hover{
	color: white;
}
.navbar{
	padding: 0px;
}
nav.bg-light{
	background-color: rgba(0,0,0,0.2)!important;
	padding: 0px;
}
/*.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
	color: white;
	//font-size: 18px;
	font-family: Century Gothic;
	
}
.navbar-light .navbar-brand{

}
.navbar-light .navbar-brand:visited, .navbar-light .navbar-nav .nav-link:visited{
	color: white;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover{
	color: yellow;
}
.navbar-light .navbar-brand:active, .navbar-light .navbar-nav .nav-link:active{
	color: white!;
}
.navbar-light .navbar-toggler-icon{
	background: url(TOGGLE.png);
}*/
section{
	padding: 80px;
	display: table;
	width: 100%;
}
#about{
	background: url('vision4.jpeg') center no-repeat;
	background-size: cover;
	min-height: 100%;
	



}
.tableCell{
	padding-top: 50px;
	display: table-cell;
	vertical-align: middle;
}
#about h1{
	text-align: center;
	color: white;
}
#about p{
	text-align: left;
	vertical-align: middle;
	padding: 30px;
	color: white;
}
#product{
	background: url('product.jpg') center;
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;

	text-align: center;
	color: white;
	/*background: #f6f6f6;
	color: grey;
	text-align: center;*/

}

#product p{
	padding: 20px;
	color: grey;
	
}
#media{
	//display: table;
	//width: 100%;
	background: url('what.jpeg') bottom no-repeat;
	background-size: cover;

}

.media-media{
	//display: table-cell;
	text-align: center;
	width: 75%;
	margin:0 auto;
}

#contact{
	background: url('img1.jpeg') center no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment: fixed;
}

input,textarea,button{
	margin: 10px;
}
footer{
	text-align: center;
	padding: 20px;
	color: white;
	background: #000;
}
footer span{
	color: hotpink;
}
.col-md-6{
	text-align: center;
}
.fstyle{
	display: block;
	color: orange;
}
.collapse, .navbar-collapse{
	position: relative;
}
.collapse .navbaroptions, .navbar-collapse .navbaroptions{
	//padding-top:40px; 
	position: absolute;
	right: 0;
}

@media only screen and (max-width: 568px){
	.quote h1{
		font-size: 50px;
	}
	.quote h3{
	font-size: 30px;
}
}

.preloader{
	position: fixed;
	top: 0;
	left:0;
	height: 100%;
	width:100%;
/*	background: #000;
*/	transition: 1s;
}
.preloader:before{
	content: '';
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background: #000;
	transition: 1s;
}
.preloader.complete:before{
	left: -50%;
}
.preloader:after{
	content: '';
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background: #000;
	transition: 1s;
}
.preloader.complete:after{
	right: -50%;
}
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border: solid 3px #fff;
	animation: animate 2s linear;
	animation-iteration-count: infinite;
	z-index: 10000;

}
.loader:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	animation:animatebg 2s linear ;
	animation-iteration-count: infinite;
}
.preloader.complete{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
@keyframes animate{
	0%
	{
		transform: translate(-50%,-50%) rotate(0deg); 
	}
	25%
	{
		transform: translate(-50%,-50%) rotate(180deg); 
	}
	50%
	{
		transform: translate(-50%,-50%) rotate(180deg); 
	}
	75%
	{
		transform: translate(-50%,-50%) rotate(360deg); 
	}
	100%
	{
		transform: translate(-50%,-50%) rotate(360deg); 
	}
}
@keyframes animatebg{
	0%
	{
		height: 0;
	}
	25%
	{
		height: 0;	 
	}
	50%
	{
		 height: 100%;
	}
	75%
	{
		 height: 0;
	}
	100%
	{
		 height: 0;
	}
}

/*section{
	text-align: center;
}*/
/*.container{
	background: #f6;
}*/
.container h1{
	text-align: center;

}
.card{
  position: relative;
  height: 375px;
  width: 250px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
  margin: 20px auto;

  

}
.card .front{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateX(0deg);
  transition: 0.5s;
  
  


}
.card:hover .front{
  -webkit-transform: rotateX(-180deg);

}
.card .back{
  position: absolute;
  
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateX(180deg);
  transition: 0.5s;

    


}
.card .back:before{
  content: '';
  position: absolute;
/*  top: 20px;
*/  left: 50%;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,0.1);

}
.card:hover .back{
  -webkit-transform: rotateX(0deg);
}
.card .back .details{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  font-family: Century Gothic;
  margin: 0;

}
.card .back .details h2 span{
  font-size: 12px;
  margin-top: 0px;
}

.socialIcons a {
/*  display: inline-block;
*/  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
  background: #262626;
  color: #fff;
  border-radius: 50%;
}
.socialIcons a i.fa{
  line-height: 20px;
}
.socialIcons a:hover{
  background: #e91e63;
}


nav form input .btn{
	background: #e6e6e6!important;
	height: 40px;
	font-size: 10px;
}